{% extends 'catalog/base.html' %}

{% block title %}Добавить новый продукт{% endblock %}
{% block content %}
{% include 'catalog/mainmenu.html' %}
{% include 'catalog/header.html' %}
<form method="post" enctype="multipart/form-data">
      {% csrf_token %}
<h2>Новый продукт</h2>

{% for field in form %}
<div>
    {{ field.label_tag }} <br>
    {{ field }}
    {% if field.errors %}
    <span style="color: red;">{{ field.errors }}</span>
    {% endif %}
</div>
{% endfor %}

<button type="submit">Добавить продукт</button>
</form>
{% endblock %}